@use './fonts';
@use './functions' as *;
@use './variables' as *;
@use './reset';

[data-scroll] {
  opacity: 0;
  transform: translateX(rem(-40));
  transition: opacity 0.8s ease, transform 0.8s ease;

  &:global(._active) {
    opacity: 1;
    transform: translate(0);
  }
}

[data-parallax] {
  transform: translate3d(0, var(--parallax-y, 0px), 0);
  will-change: transform;
}

:root {
    font-size: 100%;
}

body {
    font-family: $font-family-base;
    font-size: 1rem;
    line-height: 1.5;
}

.container {
  max-width: #{$max-width-container}px;
  margin-inline: auto;
  padding-inline: #{$container-padding}px;
}

.button {
    font-family: $font-family-accent;
}

%decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}